[submodule "examples/libopencm3/lib/libopencm3"]
	path = examples/libopencm3/lib/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "examples/ChibiOS/shared/ChibiOS"]
	path = examples/ChibiOS/common/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
