dist/

# Kicad
*.kicad_pcb-bak
*.sch-bak
*.bak
fp-info-cache

# C/CPP Code
build/
.dep/
*.o
*.d
*.elf
*.bin
!circuitpy-thunderpack.bin
generated.STM32*

# IDEs
.vscode/

# OS files
.DS_Store
*.numbers
